h1{
			text-align: center;

		}
		body{
			font-family: "Comic sans MS";
			margin-bottom: 5%;
		}
		
		#d1{
			width: 30%;
			background-color: #d7dbdd;
			margin: 10px;
			margin-left: 2%;
			border: 1px solid black;
			float: left;
		}
		#d2{
			width: 30%;
			background-color: #d7dbdd;
			margin: 10px;
			margin-left: 2%;
			border: 1px solid black;
			float: left;
		}
		#d3{
			width: 30%;
			background-color: #d7dbdd;
			margin: 10px;
		    margin-left: 2%;
			border: 1px solid black;
			float: left;

		}
		#d4{
			width: 46.5%;
			background-color: #d7dbdd;
			margin: 10px;
		    margin-left: 2%;
			border: 1px solid black;
			float: left;

		}
		#d5{
			width: 46.5%;
			background-color: #d7dbdd;
			margin: 10px;
		    margin-left: 2%;
			border: 1px solid black;
			float: left;

		}
		#d6{
			width: 96%;
			background-color: #d7dbdd;
			margin: 10px;
		    margin-left: 2%;
			border: 1px solid black;
			float: left;

		}
		#d7{
			width: 96%;
			background-color: #d7dbdd;
			margin: 10px;
			margin-top: 30px;
		    margin-left: 2%;
			border: 1px solid black;
			

		}
		
		#p2{
			float: right;
			margin-top: 1px;
			background-color: #e6b0aa;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			padding: 5px;
			width: 30%;
			text-align: center;

		}
		#p3{
			float: right;
			margin-top: 1px;
			background-color: #d98880;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			padding: 5px;
			width: 30%;
			text-align: center;

		}
		#p4{
			float: right;
			margin-top: 1px;
			background-color: #f2d7d5;
			border-left: 1px solid black;
			border-bottom: 1px solid black;
			padding: 5px;
			width: 30%;
			text-align: center;

		}
		#content{
			padding:10px;

		}